.add-author {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}

.add-author input {
  width: 100%;
  margin-bottom: 1rem;
}

.add-author h3 {
  text-align: center;
}

.add-author button {
  margin: 0 auto;
}
